.title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(45deg, #808080, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    animation: fadeIn 1.5s ease-in-out;
}

/* Animación para que aparezca suavemente */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body{
    width: 100%;
    height: 100%;
    --s: 300px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
    display: block; /* Activa flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    
}
.form-label{
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 300px;
}
.url-getter{
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    width: 300px;
    display: block;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 270px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    border: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: auto;  
  }
  
  .prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 70px;
    font-weight: 600;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px 0px 0px 10px;
    white-space: nowrap;
    min-width: 60px; /* Asegura que no sea más grande de lo necesario */
    max-width: 70px; /* Evita que se expanda más */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .myinput-link {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-weight: 500;
    border: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 10px;
    height: 100%;
    width: 160px;
    background-color: #fff;
    font-size: 15px;
  }
  
  .link-icon {
    font-size: 16px;
    background-color: #fff;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    position: relative;
  }
  
  .tooltip {
    position: absolute;
    top: -40px;
    right: -10px;
    opacity: 0;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #f0f0f0 0%, #000000 74%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
    z-index: 10;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #000000;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -15%;
    transition-duration: 0.3s;
  }
  
  .link-icon:hover .tooltip {
    opacity: 1;
    transition-duration: 0.3s;
  }
  .card {
    width: 400px;
    height: 180px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: block; /* Activa flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(112, 112, 112),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }

  .button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
   